@import './smart-grid';
@import './rem';
@import './text';

@include reset();

html {
  font-size: 0.52vw;
  background-color: #E5E5E5;
  @include lg-block() {
    font-size: 10px;
  }
  @include w1180-block() {
    font-size: 0.85vw;
  }
  @include sm-block() {
    font-size: 10px;
  }
  @include xs2-block() {
    font-size: 2.63vw;
  }
}

body {
  font-size: 1.6rem;
}

.header {
  width: 100%;
  @include rem(padding, 7px 20px);
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include rem(width, 200px);
}


.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include rem(margin-top, 72px);
  @include sm-block() {
    @include rem(padding, 0 32px);
    @include rem(margin-top, 25px);
  }

  &__block {
    display: flex;
    justify-content: center;
    width: 100%;
    @include rem(max-width, 600px);
    position: relative;
    @include rem(margin-top, 45px);
    @include sm-block() {
      @include rem(margin-top, 25px);
    }
  }

  &__clear {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    outline: 0;

    &-img {
      @include rem(width, 26px);
      @include rem(height, 26px);
      @include rem(margin-right, 12px);
    }
  }

  &__title {

  }

  &__input {
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    @include rem(border-radius, 5px);
    @include rem(padding, 20px 16px);
    border: none;
    outline: none;

    &::placeholder {
      color: #D9D9D9;
    }
  }
}

.block-center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


.article-block {
  width: 100%;
  @include rem(max-width, 1189px);
  @include rem(margin, 32px auto auto);
  @include sm-block() {
    box-sizing: border-box;
    padding: 0 1rem;
  }

  &__container {
    margin-left: -3.5rem;
    display: flex;
    flex-wrap: wrap;
    @include sm-block() {
      margin-left: 0rem;
    }
  }

  .article-block__item {
    width: calc(33% - 3.5rem);
    margin-left: 3.5rem;
    margin-bottom: 1.5rem;
    @include sm-block() {
      width: 100%;
      margin-left: 0rem;
      margin-bottom: 4rem;
    }
  }
}
