@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$mainSize: 1920;
$mapSize: (
        main: ((s16:16, s36:36), "rem", 10),
        780: ((s16:15), "rem", 10),
);


.text {
  font-family: 'Noto Serif', serif;

  &-green {
    color: #00CC99;
  }

  &-w700 {
    font-weight: 700;
  }

  @each $key, $sizeStap in $mapSize {
    @if ($key=="main") {
      @each $stapSize, $size in nth($sizeStap, 1) {
        &-#{$stapSize} {
          font-size: #{$size/nth($sizeStap, 3)}rem;
        }
      }
    } @else {
      @media screen and (max-width: #{$key}px) {
        @each $stapSize, $size in nth($sizeStap, 1) {
          &-#{$stapSize} {
            font-size: #{$size/nth($sizeStap, 3)}rem;
          }
        }
      }
    }
  }
}



