
.article-block__item {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  position: relative;


  &-text {
    box-sizing: border-box;
    padding: 1.8rem;
    text-align: center;
    min-height: 12rem;
  }

  &-img {
    height: 0rem;
    display: flex;
    position: relative;
    padding-top: 47.0%;

    &-src {
      width: 100%;
      height: 100%;
      background-color: #ccc;
      object-fit: cover;
      object-position: center;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &-title {
    margin-bottom: 1.5rem;

    &-original {
      padding: 0 3rem;
      box-sizing: border-box;
    }
  }

  &-desk {

  }

  &-favorit {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    padding: 0;
    border: none;
    background-color: transparent;

    &-icon {

    }
  }

  &--image-left {
    flex-direction: row;
  }

  &--image-left &-img {
    width: 14.4rem;
  }

  &--image-left &-text {
    padding: 3rem 1rem 1rem 2rem;
    text-align: left;
    width: 1px;
    flex-grow: 2;
  }
}
