.btn {
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  color: #333333;
  background: #00CC99;
  border-radius: 5px;
  border: none;
  outline: none;

  &__icon {
    margin-left: 2rem;
  }
}
